body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#topp{
    /* background: #6215f1; */
    /* background: white; */
    background: #0e3ec2;
    /* border-radius: 2px; */
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    

    /* max-width: 1200px; */
    padding: 1.5em;
    margin: 0 auto;
}

#topp header{
    display: flex;
    justify-content: space-between;
    height: 22px;
}

header #logo{
    font-weight: bold;
}

header a {
    /* color: blue; */
    color: white;
    text-decoration: none;
    padding: 0 .6em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* font-size: 0.95em; */
}

@media (max-width: 400px ){

    header a {
    }

    nav ul {
        list-style: none;
        font-size: ;
        margin: 0;
        padding: 0;
        display: flex;
        font-size: 0.91em;
    }

  

}

@media (min-width: 610px ){

    header a {
        padding: 0 .8em;
    }

}

@media (min-width: 765px ){

    header a {
        padding: 0 1.18em;
    }

}

@media (min-width: 1000px ){

    header a {
        padding: 0 1.7em;
    }
}

@media (min-width: 1200px ){

    header a {
        padding: 0 1.95em;
    }

}



@media (max-width: 390px ){
    #lists ul{
        margin-top: 0px;
        padding-top: 0px;
        /* font-size: 14px; */
    }
}


@media (max-width: 768px ){
    #rer{
        /* font-weight: 500; */
        /* font-weight: 400; */
        font-size: 15px;
        }

}